@import "../../global.scss";

.intro{
    background-color: white;
    display: flex;
    @include mobile{
        flex-direction: column;
        align-items: center;
    }
    
    .left{
        flex: 0.5;
        overflow: hidden;

        .imageContainer{
            height: 700px;
            width: 700px;
            background-color: crimson;//#e68261;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            float: right;

            @include mobile{
                height: 600px;
                width: 700px;
                align-items: flex-start;
            }

            img{
                height: 100%;
                @include mobile{
                    height: 50%;
                }
            }
        }
    }
    .right{
        flex: 0.5;
        position: relative;

        .warning{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 390px;
            font-size: 15px;

            img{
                height: 60px;
                //color: yellow;
            }
        }

        .wrapper{
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile{
                height: 60%;
                align-items: center;
                padding-left: 0;
            }

            h1{
                font-size: 60px;
                margin: 10px 0;

                @include mobile{
                    font-size: 30px;
                }
            }
            h2{
                font-size: 35px;
                @include mobile{
                    font-size: 20px;
                }
            }
            h3{
                font-size: 30px;
                @include mobile{
                    font-size: 15px;
                }
                span{
                    font-size: inherit;
                    color: crimson//#e68261;
                }

                .ityped-cursor {
                    animation: blink 1s infinite;
                }
                @keyframes blink {
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                }
            }
        }

        a{
            position: absolute;
            bottom: 30px;
            left: 35%;

            @include mobile{
                background-color: rgb(240, 112, 138);
                height: 120px;
                align-items: center;
                justify-content: right;
                left: 45%;
            }

            .downarrow{
                width: 40px;
                height: 40px;
                animation: arrowBlink 2s infinite;

                @include mobile{
                    width: 30px;
                    height: 30px;
                }
            }

            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
                
            } 
        }
    }
}